@model IEnumerable<EnrollementApplication.Models.Enrollment>

<div id="searchresults">
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Course</li>
        }
    </ul>
</div>
